body {
    font-family: "Ubuntu", Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: #fff;
}
canvas {
    border: 1px solid #777;
}
hr {
    width: 100%;
    border: 1px solid #777;
}
table {
    margin: 10px 0 20px;
}
th {
    text-align: right;
    padding-right: 10px;
}
button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
button:hover,
button:focus {
    background-color: #F082AC;
}
input {
    width: 200px;
}
select {
    width: 210px;
}
a,
a:visited,
a:active,
a:link,
a:hover {
    color: #F082AC;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#number-indicator {
    padding: 0 0 20px;
}
#model-controls {
    margin: 10px;
}
#number-indicator, #model-status {
    margin-top: 10px;
    font-size: 20px;
}
#model-output {
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
}
#prediction-result {
    font-size: 24pt;
    margin: 20px;  
}
.controls {
    margin: 20px;
}
.not-trained {
    color: #a00;
}
.training {
    color: #4cd2ea;
}
.trained {
    color: #0a0;
}