body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  canvas {
    border: 1px solid black;
  }
  hr {
    width: 100%;
    border: 1px solid black;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #controls, #model-controls {
    margin-top: 10px;
  }
  #number-indicator, #model-status {
    margin-top: 10px;
    font-size: 20px;
  }
  .form-group {
    margin: 10px;
  }